# fly.toml app configuration file generated for dg-shorturls on 2023-06-22T20:52:02+01:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "dg-shorturls"
primary_region = "yul"

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
